---
layout: default
---

<div class="home">
   <div class="sidenav">
        <img src="bach1.jpg">
	<div class="announcements-container">
	  <div class="container-title">News</div>
	  <ul class="announcements">
		<li><a href="https://xuanbachle.github.io/" title="#">Dec'18: ICSE'19 paper accepted</a></li>
                <li><a href="https://xuanbachle.github.io/" title="#">Jun'18: Joined CMU</a></li>
		<li><a href="https://xuanbachle.github.io/" title="#">May'18: Defended PhD thesis</a></li>
    		<li><a href="https://goo.gl/Pe9FfQ" title="#">Dec'17: ICSE'18 JFP accepted</a></li>
    		<li><a href="https://xuanbachle.github.io/" title="#">Sept'17: Presented at FSE'17</a></li>
    		<li><a href="https://xuanbachle.github.io/" title="#">Presented at ASE'16</a></li>
  	</ul>
	</div>
	<script>
		var hoveredAnnouncement = null;

		function announcementTicker() {
		  $(".announcements")
		    .filter(function(item) {
		      return !$(this).is(hoveredAnnouncement);
		    })
		    .each(function() {
		      $(this)
			.find("li:first")
			.slideUp(function() {
			  var announcement = $(this).closest(".announcements");
			  $(this)
			    .appendTo(announcement)
			    .slideDown();
			});
		    });
		}
		setInterval(announcementTicker, 5000);

		$(function() {  
		  $(".announcements").hover(
		    function() {
		      hoveredAnnouncement = $(this);
		    },
		    function() {
		      hoveredAnnouncement = null;
		    }
		  );
		});
	</script>
   </div>
  {{ content }}


  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
</div>
